body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Assigner-center-container {
  text-align: center;
}

.Assigner-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Assigner-header {
  font-size: calc(10px + 2vmin);
}

.Assigner-link {
  color: #61dafb;
}

.Assigner-row-parent {
  text-align: center;
}

.Assigner-row-child {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5rem;
}